.Sectionlivro{
    height: 70vh;
    background-image: url('../../assets/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 6%;
        h2{
            color: white;
            font-size: 25px;
            width: 24%;
            font-family: "roboto", sans-serif;
        }
}

.Sectionporque{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 74vh;

        h2  {
            font-size: 33px;
            color: #005695;
            width: 32%;
            text-align: center;

        }
    
}

.Cards{
    display: flex;
    justify-content: space-evenly;
    height: 50vh;

    section {
        background-color: #0157944D;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 6px;

        img{
            width: 40%;
        }
        P {
            font-size: 18px;
            text-align: center;
            width: 75%;
        }

    }    
    
}