
.redes{
    background-color: #055695;
    height: 22vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    
    nav{
        width: 20%;
        display: flex;
        justify-content: space-between;
        
    }
}

.copyright{
    height: 9vh;
    background-color: #232020;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

}


@media (max-width: 780px){
    .redes{
        height: 15vh;
        flex-direction: column;
        justify-content: center;
        p{
            font-size: 20px;
            padding-bottom: 3%;
        }
        nav{
            width: 60%;
        }
    }
    .copyright{
        height: 10vh;
        font-size: 13px;
    }
}